{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}


    <div class="container">
        <div class="row">
        <h4>Projects</h4>

<br>
         <!-- Looping through news   -->
         {% for project in projects %}



           <!-- displaying News articles -->
          <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <img class="card-img-top img-responsive" src="{{project.image.url}}" alt="image">
                        <div class="card-body">
                            <h4 class="card-title">Sans &amp; Sans-Serif</h4>
                            <p class="card-text">{{project.site_description}}</p>
                            <a href="#" class="btn btn-primary">View website</a>
                        </div>
                    </div>
                </div>


         {% empty %}
         <div class="row">
           <h2 class="text-center">There No Project Items</h2>
         </div>
         {% endfor %}
          </div>

        </div>
    </div>
{% endblock %}