{%extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New project</title>
  {{form.media}}

{% block styles %}
    {% bootstrap_css %}
{% endblock %}

</head>


{% block content %}
<body style="background-color: rgb(101, 124, 196);">
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div  class="col-md-8">
                <div class="card">
                        <div style="text-align: center; "  class="card-header">
                            <h2>  Post The Your project!!</h2>
                        </div>
                        <div class="card-body">
                                <form  action="{%url 'upload' %}" method="post" enctype="multipart/form-data">
                                    {%csrf_token%}

                                    {% bootstrap_form form%}
                                    <input type="submit" class="btn btn-warning btn-sm" value="Post">
                                </form>
                        </div>
                    </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>

</div>

</body>
{% endblock%}


</html>